/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}




html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#root {
  height: 100%;
}
.wr {
  width: 100%;
  height: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  gap: 0;

  grid-template-areas:
    "A A A A   A A A A"
    "A A A A   A A A A"
    "B B B B   C C C C";
}
.view {
  height: 100%;
  grid-area: A;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 84px;
  background: #f9f9f9;
  /* grid-column: 2; */
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 65px;
  transition: background-color 0.1s ease-in-out;
}
.button:hover {
  cursor: pointer;
}
.inc {
  grid-area: C;
  background: #da2c38;
  box-shadow: inset 0 0 20px #c62732;
}
.inc:hover {
  background: #c62732;
}
.dec {
  grid-area: B;
  background: #226f54;
  box-shadow: inset 0 0 20px #1d6049;
}
.dec:hover {
  background: #1d6049;
}
.reset {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0;
  box-shadow: none;
  border: none;
  font-size: 45px;
  padding: 8px 12px;
  color: #000;
}